<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Kernel Comments</title>
        <meta name="description" content="Reading the linux kernel">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="js/highlight/styles/github.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <script src="js/jquery.min.js"></script>
        <script src="js/highlight/highlight.pack.js"></script>

        <script>
          hljs.initHighlightingOnLoad();
          $(document).ready(function() {
            $('pre code').each(function(i, block) {
              hljs.highlightBlock(block);
            });
          });
        
        </script>
      <div class="wrap">
        <pre>
          <code id="text" class="csharp">

 Task credentials management - see Documentation/security/credentials.txt

 Copyright (C) 2008 Red Hat, Inc. All Rights Reserved.
 Written by David Howells (dhowells@redhat.com)

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public Licence
 as published by the Free Software Foundation; either version
 2 of the Licence, or (at your option) any later version.
 /*
#include &lt;linux/export.h&gt;
#include &lt;linux/cred.h&gt;
#include &lt;linux/slab.h&gt;
#include &lt;linux/sched.h&gt;
#include &lt;linux/key.h&gt;
#include &lt;linux/keyctl.h&gt;
#include &lt;linux/init_task.h&gt;
#include &lt;linux/security.h&gt;
#include &lt;linux/binfmts.h&gt;
#include &lt;linux/cn_proc.h&gt;

#if 0
#define kdebug(FMT, ...)						\
	printk(&quot;[%-5.5s%5u] &quot; FMT &quot;\n&quot;,					\
	       current-&gt;comm, current-&gt;pid, ##__VA_ARGS__)
#else
#define kdebug(FMT, ...)						\
do {									\
	if (0)								\
		no_printk(&quot;[%-5.5s%5u] &quot; FMT &quot;\n&quot;,			\
			  current-&gt;comm, current-&gt;pid, ##__VA_ARGS__);	\
} while (0)
#endif

static struct kmem_cachecred_jar;

*/ init to 2 - one for init_task, one to ensure it is never freed /*
struct group_info init_groups = { .usage = ATOMIC_INIT(2) };

*/
 The initial credentials for the initial task
 /*
struct cred init_cred = {
	.usage			= ATOMIC_INIT(4),
#ifdef CONFIG_DEBUG_CREDENTIALS
	.subscribers		= ATOMIC_INIT(2),
	.magic			= CRED_MAGIC,
#endif
	.uid			= GLOBAL_ROOT_UID,
	.gid			= GLOBAL_ROOT_GID,
	.suid			= GLOBAL_ROOT_UID,
	.sgid			= GLOBAL_ROOT_GID,
	.euid			= GLOBAL_ROOT_UID,
	.egid			= GLOBAL_ROOT_GID,
	.fsuid			= GLOBAL_ROOT_UID,
	.fsgid			= GLOBAL_ROOT_GID,
	.securebits		= SECUREBITS_DEFAULT,
	.cap_inheritable	= CAP_EMPTY_SET,
	.cap_permitted		= CAP_FULL_SET,
	.cap_effective		= CAP_FULL_SET,
	.cap_bset		= CAP_FULL_SET,
	.user			= INIT_USER,
	.user_ns		= &amp;init_user_ns,
	.group_info		= &amp;init_groups,
};

static inline void set_cred_subscribers(struct credcred, int n)
{
#ifdef CONFIG_DEBUG_CREDENTIALS
	atomic_set(&amp;cred-&gt;subscribers, n);
#endif
}

static inline int read_cred_subscribers(const struct credcred)
{
#ifdef CONFIG_DEBUG_CREDENTIALS
	return atomic_read(&amp;cred-&gt;subscribers);
#else
	return 0;
#endif
}

static inline void alter_cred_subscribers(const struct cred_cred, int n)
{
#ifdef CONFIG_DEBUG_CREDENTIALS
	struct credcred = (struct cred) _cred;

	atomic_add(n, &amp;cred-&gt;subscribers);
#endif
}

*/
 The RCU callback to actually dispose of a set of credentials
 /*
static void put_cred_rcu(struct rcu_headrcu)
{
	struct credcred = container_of(rcu, struct cred, rcu);

	kdebug(&quot;put_cred_rcu(%p)&quot;, cred);

#ifdef CONFIG_DEBUG_CREDENTIALS
	if (cred-&gt;magic != CRED_MAGIC_DEAD ||
	    atomic_read(&amp;cred-&gt;usage) != 0 ||
	    read_cred_subscribers(cred) != 0)
		panic(&quot;CRED: put_cred_rcu() sees %p with&quot;
		      &quot; mag %x, put %p, usage %d, subscr %d\n&quot;,
		      cred, cred-&gt;magic, cred-&gt;put_addr,
		      atomic_read(&amp;cred-&gt;usage),
		      read_cred_subscribers(cred));
#else
	if (atomic_read(&amp;cred-&gt;usage) != 0)
		panic(&quot;CRED: put_cred_rcu() sees %p with usage %d\n&quot;,
		      cred, atomic_read(&amp;cred-&gt;usage));
#endif

	security_cred_free(cred);
	key_put(cred-&gt;session_keyring);
	key_put(cred-&gt;process_keyring);
	key_put(cred-&gt;thread_keyring);
	key_put(cred-&gt;request_key_auth);
	if (cred-&gt;group_info)
		put_group_info(cred-&gt;group_info);
	free_uid(cred-&gt;user);
	put_user_ns(cred-&gt;user_ns);
	kmem_cache_free(cred_jar, cred);
}

*/
 __put_cred - Destroy a set of credentials
 @cred: The record to release

 Destroy a set of credentials on which no references remain.
 /*
void __put_cred(struct credcred)
{
	kdebug(&quot;__put_cred(%p{%d,%d})&quot;, cred,
	       atomic_read(&amp;cred-&gt;usage),
	       read_cred_subscribers(cred));

	BUG_ON(atomic_read(&amp;cred-&gt;usage) != 0);
#ifdef CONFIG_DEBUG_CREDENTIALS
	BUG_ON(read_cred_subscribers(cred) != 0);
	cred-&gt;magic = CRED_MAGIC_DEAD;
	cred-&gt;put_addr = __builtin_return_address(0);
#endif
	BUG_ON(cred == current-&gt;cred);
	BUG_ON(cred == current-&gt;real_cred);

	call_rcu(&amp;cred-&gt;rcu, put_cred_rcu);
}
EXPORT_SYMBOL(__put_cred);

*/
 Clean up a task&#39;s credentials when it exits
 /*
void exit_creds(struct task_structtsk)
{
	struct credcred;

	kdebug(&quot;exit_creds(%u,%p,%p,{%d,%d})&quot;, tsk-&gt;pid, tsk-&gt;real_cred, tsk-&gt;cred,
	       atomic_read(&amp;tsk-&gt;cred-&gt;usage),
	       read_cred_subscribers(tsk-&gt;cred));

	cred = (struct cred) tsk-&gt;real_cred;
	tsk-&gt;real_cred = NULL;
	validate_creds(cred);
	alter_cred_subscribers(cred, -1);
	put_cred(cred);

	cred = (struct cred) tsk-&gt;cred;
	tsk-&gt;cred = NULL;
	validate_creds(cred);
	alter_cred_subscribers(cred, -1);
	put_cred(cred);
}

*/
 get_task_cred - Get another task&#39;s objective credentials
 @task: The task to query

 Get the objective credentials of a task, pinning them so that they can&#39;t go
 away.  Accessing a task&#39;s credentials directly is not permitted.

 The caller must also make sure task doesn&#39;t get deleted, either by holding a
 ref on task or by holding tasklist_lock to prevent it from being unlinked.
 /*
const struct credget_task_cred(struct task_structtask)
{
	const struct credcred;

	rcu_read_lock();

	do {
		cred = __task_cred((task));
		BUG_ON(!cred);
	} while (!atomic_inc_not_zero(&amp;((struct cred)cred)-&gt;usage));

	rcu_read_unlock();
	return cred;
}

*/
 Allocate blank credentials, such that the credentials can be filled in at a
 later date without risk of ENOMEM.
 /*
struct credcred_alloc_blank(void)
{
	struct crednew;

	new = kmem_cache_zalloc(cred_jar, GFP_KERNEL);
	if (!new)
		return NULL;

	atomic_set(&amp;new-&gt;usage, 1);
#ifdef CONFIG_DEBUG_CREDENTIALS
	new-&gt;magic = CRED_MAGIC;
#endif

	if (security_cred_alloc_blank(new, GFP_KERNEL) &lt; 0)
		goto error;

	return new;

error:
	abort_creds(new);
	return NULL;
}

*/
 prepare_creds - Prepare a new set of credentials for modification

 Prepare a new set of task credentials for modification.  A task&#39;s creds
 shouldn&#39;t generally be modified directly, therefore this function is used to
 prepare a new copy, which the caller then modifies and then commits by
 calling commit_creds().

 Preparation involves making a copy of the objective creds for modification.

 Returns a pointer to the new creds-to-be if successful, NULL otherwise.

 Call commit_creds() or abort_creds() to clean up.
 /*
struct credprepare_creds(void)
{
	struct task_structtask = current;
	const struct credold;
	struct crednew;

	validate_process_creds();

	new = kmem_cache_alloc(cred_jar, GFP_KERNEL);
	if (!new)
		return NULL;

	kdebug(&quot;prepare_creds() alloc %p&quot;, new);

	old = task-&gt;cred;
	memcpy(new, old, sizeof(struct cred));

	atomic_set(&amp;new-&gt;usage, 1);
	set_cred_subscribers(new, 0);
	get_group_info(new-&gt;group_info);
	get_uid(new-&gt;user);
	get_user_ns(new-&gt;user_ns);

#ifdef CONFIG_KEYS
	key_get(new-&gt;session_keyring);
	key_get(new-&gt;process_keyring);
	key_get(new-&gt;thread_keyring);
	key_get(new-&gt;request_key_auth);
#endif

#ifdef CONFIG_SECURITY
	new-&gt;security = NULL;
#endif

	if (security_prepare_creds(new, old, GFP_KERNEL) &lt; 0)
		goto error;
	validate_creds(new);
	return new;

error:
	abort_creds(new);
	return NULL;
}
EXPORT_SYMBOL(prepare_creds);

*/
 Prepare credentials for current to perform an execve()
 - The caller must hold -&gt;cred_guard_mutex
 /*
struct credprepare_exec_creds(void)
{
	struct crednew;

	new = prepare_creds();
	if (!new)
		return new;

#ifdef CONFIG_KEYS
	*/ newly exec&#39;d tasks don&#39;t get a thread keyring /*
	key_put(new-&gt;thread_keyring);
	new-&gt;thread_keyring = NULL;

	*/ inherit the session keyring; new process keyring /*
	key_put(new-&gt;process_keyring);
	new-&gt;process_keyring = NULL;
#endif

	return new;
}

*/
 Copy credentials for the new process created by fork()

 We share if we can, but under some circumstances we have to generate a new
 set.

 The new process gets the current process&#39;s subjective credentials as its
 objective and subjective credentials
 /*
int copy_creds(struct task_structp, unsigned long clone_flags)
{
	struct crednew;
	int ret;

	if (
#ifdef CONFIG_KEYS
		!p-&gt;cred-&gt;thread_keyring &amp;&amp;
#endif
		clone_flags &amp; CLONE_THREAD
	    ) {
		p-&gt;real_cred = get_cred(p-&gt;cred);
		get_cred(p-&gt;cred);
		alter_cred_subscribers(p-&gt;cred, 2);
		kdebug(&quot;share_creds(%p{%d,%d})&quot;,
		       p-&gt;cred, atomic_read(&amp;p-&gt;cred-&gt;usage),
		       read_cred_subscribers(p-&gt;cred));
		atomic_inc(&amp;p-&gt;cred-&gt;user-&gt;processes);
		return 0;
	}

	new = prepare_creds();
	if (!new)
		return -ENOMEM;

	if (clone_flags &amp; CLONE_NEWUSER) {
		ret = create_user_ns(new);
		if (ret &lt; 0)
			goto error_put;
	}

#ifdef CONFIG_KEYS
	*/ new threads get their own thread keyrings if their parent already
	 had one /*
	if (new-&gt;thread_keyring) {
		key_put(new-&gt;thread_keyring);
		new-&gt;thread_keyring = NULL;
		if (clone_flags &amp; CLONE_THREAD)
			install_thread_keyring_to_cred(new);
	}

	*/ The process keyring is only shared between the threads in a process;
	 anything outside of those threads doesn&#39;t inherit.
	 /*
	if (!(clone_flags &amp; CLONE_THREAD)) {
		key_put(new-&gt;process_keyring);
		new-&gt;process_keyring = NULL;
	}
#endif

	atomic_inc(&amp;new-&gt;user-&gt;processes);
	p-&gt;cred = p-&gt;real_cred = get_cred(new);
	alter_cred_subscribers(new, 2);
	validate_creds(new);
	return 0;

error_put:
	put_cred(new);
	return ret;
}

static bool cred_cap_issubset(const struct credset, const struct credsubset)
{
	const struct user_namespaceset_ns = set-&gt;user_ns;
	const struct user_namespacesubset_ns = subset-&gt;user_ns;

	*/ If the two credentials are in the same user namespace see if
	 the capabilities of subset are a subset of set.
	 /*
	if (set_ns == subset_ns)
		return cap_issubset(subset-&gt;cap_permitted, set-&gt;cap_permitted);

	*/ The credentials are in a different user namespaces
	 therefore one is a subset of the other only if a set is an
	 ancestor of subset and set-&gt;euid is owner of subset or one
	 of subsets ancestors.
	 /*
	for (;subset_ns != &amp;init_user_ns; subset_ns = subset_ns-&gt;parent) {
		if ((set_ns == subset_ns-&gt;parent)  &amp;&amp;
		    uid_eq(subset_ns-&gt;owner, set-&gt;euid))
			return true;
	}

	return false;
}

*/
 commit_creds - Install new credentials upon the current task
 @new: The credentials to be assigned

 Install a new set of credentials to the current task, using RCU to replace
 the old set.  Both the objective and the subjective credentials pointers are
 updated.  This function may not be called if the subjective credentials are
 in an overridden state.

 This function eats the caller&#39;s reference to the new credentials.

 Always returns 0 thus allowing this function to be tail-called at the end
 of, say, sys_setgid().
 /*
int commit_creds(struct crednew)
{
	struct task_structtask = current;
	const struct credold = task-&gt;real_cred;

	kdebug(&quot;commit_creds(%p{%d,%d})&quot;, new,
	       atomic_read(&amp;new-&gt;usage),
	       read_cred_subscribers(new));

	BUG_ON(task-&gt;cred != old);
#ifdef CONFIG_DEBUG_CREDENTIALS
	BUG_ON(read_cred_subscribers(old) &lt; 2);
	validate_creds(old);
	validate_creds(new);
#endif
	BUG_ON(atomic_read(&amp;new-&gt;usage) &lt; 1);

	get_cred(new);/ we will require a ref for the subj creds too /*

	*/ dumpability changes /*
	if (!uid_eq(old-&gt;euid, new-&gt;euid) ||
	    !gid_eq(old-&gt;egid, new-&gt;egid) ||
	    !uid_eq(old-&gt;fsuid, new-&gt;fsuid) ||
	    !gid_eq(old-&gt;fsgid, new-&gt;fsgid) ||
	    !cred_cap_issubset(old, new)) {
		if (task-&gt;mm)
			set_dumpable(task-&gt;mm, suid_dumpable);
		task-&gt;pdeath_signal = 0;
		smp_wmb();
	}

	*/ alter the thread keyring /*
	if (!uid_eq(new-&gt;fsuid, old-&gt;fsuid))
		key_fsuid_changed(task);
	if (!gid_eq(new-&gt;fsgid, old-&gt;fsgid))
		key_fsgid_changed(task);

	*/ do it
	 RLIMIT_NPROC limits on user-&gt;processes have already been checked
	 in set_user().
	 /*
	alter_cred_subscribers(new, 2);
	if (new-&gt;user != old-&gt;user)
		atomic_inc(&amp;new-&gt;user-&gt;processes);
	rcu_assign_pointer(task-&gt;real_cred, new);
	rcu_assign_pointer(task-&gt;cred, new);
	if (new-&gt;user != old-&gt;user)
		atomic_dec(&amp;old-&gt;user-&gt;processes);
	alter_cred_subscribers(old, -2);

	*/ send notifications /*
	if (!uid_eq(new-&gt;uid,   old-&gt;uid)  ||
	    !uid_eq(new-&gt;euid,  old-&gt;euid) ||
	    !uid_eq(new-&gt;suid,  old-&gt;suid) ||
	    !uid_eq(new-&gt;fsuid, old-&gt;fsuid))
		proc_id_connector(task, PROC_EVENT_UID);

	if (!gid_eq(new-&gt;gid,   old-&gt;gid)  ||
	    !gid_eq(new-&gt;egid,  old-&gt;egid) ||
	    !gid_eq(new-&gt;sgid,  old-&gt;sgid) ||
	    !gid_eq(new-&gt;fsgid, old-&gt;fsgid))
		proc_id_connector(task, PROC_EVENT_GID);

	*/ release the old obj and subj refs both /*
	put_cred(old);
	put_cred(old);
	return 0;
}
EXPORT_SYMBOL(commit_creds);

*/
 abort_creds - Discard a set of credentials and unlock the current task
 @new: The credentials that were going to be applied

 Discard a set of credentials that were under construction and unlock the
 current task.
 /*
void abort_creds(struct crednew)
{
	kdebug(&quot;abort_creds(%p{%d,%d})&quot;, new,
	       atomic_read(&amp;new-&gt;usage),
	       read_cred_subscribers(new));

#ifdef CONFIG_DEBUG_CREDENTIALS
	BUG_ON(read_cred_subscribers(new) != 0);
#endif
	BUG_ON(atomic_read(&amp;new-&gt;usage) &lt; 1);
	put_cred(new);
}
EXPORT_SYMBOL(abort_creds);

*/
 override_creds - Override the current process&#39;s subjective credentials
 @new: The credentials to be assigned

 Install a set of temporary override subjective credentials on the current
 process, returning the old set for later reversion.
 /*
const struct credoverride_creds(const struct crednew)
{
	const struct credold = current-&gt;cred;

	kdebug(&quot;override_creds(%p{%d,%d})&quot;, new,
	       atomic_read(&amp;new-&gt;usage),
	       read_cred_subscribers(new));

	validate_creds(old);
	validate_creds(new);
	get_cred(new);
	alter_cred_subscribers(new, 1);
	rcu_assign_pointer(current-&gt;cred, new);
	alter_cred_subscribers(old, -1);

	kdebug(&quot;override_creds() = %p{%d,%d}&quot;, old,
	       atomic_read(&amp;old-&gt;usage),
	       read_cred_subscribers(old));
	return old;
}
EXPORT_SYMBOL(override_creds);

*/
 revert_creds - Revert a temporary subjective credentials override
 @old: The credentials to be restored

 Revert a temporary set of override subjective credentials to an old set,
 discarding the override set.
 /*
void revert_creds(const struct credold)
{
	const struct credoverride = current-&gt;cred;

	kdebug(&quot;revert_creds(%p{%d,%d})&quot;, old,
	       atomic_read(&amp;old-&gt;usage),
	       read_cred_subscribers(old));

	validate_creds(old);
	validate_creds(override);
	alter_cred_subscribers(old, 1);
	rcu_assign_pointer(current-&gt;cred, old);
	alter_cred_subscribers(override, -1);
	put_cred(override);
}
EXPORT_SYMBOL(revert_creds);

*/
 initialise the credentials stuff
 /*
void __init cred_init(void)
{
	*/ allocate a slab in which we can store credentials /*
	cred_jar = kmem_cache_create(&quot;cred_jar&quot;, sizeof(struct cred), 0,
			SLAB_HWCACHE_ALIGN|SLAB_PANIC|SLAB_ACCOUNT, NULL);
}

*/
 prepare_kernel_cred - Prepare a set of credentials for a kernel service
 @daemon: A userspace daemon to be used as a reference

 Prepare a set of credentials for a kernel service.  This can then be used to
 override a task&#39;s own credentials so that work can be done on behalf of that
 task that requires a different subjective context.

 @daemon is used to provide a base for the security record, but can be NULL.
 If @daemon is supplied, then the security data will be derived from that;
 otherwise they&#39;ll be set to 0 and no groups, full capabilities and no keys.

 The caller may change these controls afterwards if desired.

 Returns the new credentials or NULL if out of memory.

 Does not take, and does not return holding current-&gt;cred_replace_mutex.
 /*
struct credprepare_kernel_cred(struct task_structdaemon)
{
	const struct credold;
	struct crednew;

	new = kmem_cache_alloc(cred_jar, GFP_KERNEL);
	if (!new)
		return NULL;

	kdebug(&quot;prepare_kernel_cred() alloc %p&quot;, new);

	if (daemon)
		old = get_task_cred(daemon);
	else
		old = get_cred(&amp;init_cred);

	validate_creds(old);

	*new =old;
	atomic_set(&amp;new-&gt;usage, 1);
	set_cred_subscribers(new, 0);
	get_uid(new-&gt;user);
	get_user_ns(new-&gt;user_ns);
	get_group_info(new-&gt;group_info);

#ifdef CONFIG_KEYS
	new-&gt;session_keyring = NULL;
	new-&gt;process_keyring = NULL;
	new-&gt;thread_keyring = NULL;
	new-&gt;request_key_auth = NULL;
	new-&gt;jit_keyring = KEY_REQKEY_DEFL_THREAD_KEYRING;
#endif

#ifdef CONFIG_SECURITY
	new-&gt;security = NULL;
#endif
	if (security_prepare_creds(new, old, GFP_KERNEL) &lt; 0)
		goto error;

	put_cred(old);
	validate_creds(new);
	return new;

error:
	put_cred(new);
	put_cred(old);
	return NULL;
}
EXPORT_SYMBOL(prepare_kernel_cred);

*/
 set_security_override - Set the security ID in a set of credentials
 @new: The credentials to alter
 @secid: The LSM security ID to set

 Set the LSM security ID in a set of credentials so that the subjective
 security is overridden when an alternative set of credentials is used.
 /*
int set_security_override(struct crednew, u32 secid)
{
	return security_kernel_act_as(new, secid);
}
EXPORT_SYMBOL(set_security_override);

*/
 set_security_override_from_ctx - Set the security ID in a set of credentials
 @new: The credentials to alter
 @secctx: The LSM security context to generate the security ID from.

 Set the LSM security ID in a set of credentials so that the subjective
 security is overridden when an alternative set of credentials is used.  The
 security ID is specified in string form as a security context to be
 interpreted by the LSM.
 /*
int set_security_override_from_ctx(struct crednew, const charsecctx)
{
	u32 secid;
	int ret;

	ret = security_secctx_to_secid(secctx, strlen(secctx), &amp;secid);
	if (ret &lt; 0)
		return ret;

	return set_security_override(new, secid);
}
EXPORT_SYMBOL(set_security_override_from_ctx);

*/
 set_create_files_as - Set the LSM file create context in a set of credentials
 @new: The credentials to alter
 @inode: The inode to take the context from

 Change the LSM file creation context in a set of credentials to be the same
 as the object context of the specified inode, so that the new inodes have
 the same MAC context as that inode.
 /*
int set_create_files_as(struct crednew, struct inodeinode)
{
	new-&gt;fsuid = inode-&gt;i_uid;
	new-&gt;fsgid = inode-&gt;i_gid;
	return security_kernel_create_files_as(new, inode);
}
EXPORT_SYMBOL(set_create_files_as);

#ifdef CONFIG_DEBUG_CREDENTIALS

bool creds_are_invalid(const struct credcred)
{
	if (cred-&gt;magic != CRED_MAGIC)
		return true;
#ifdef CONFIG_SECURITY_SELINUX
	*/
	 cred-&gt;security == NULL if security_cred_alloc_blank() or
	 security_prepare_creds() returned an error.
	 /*
	if (selinux_is_enabled() &amp;&amp; cred-&gt;security) {
		if ((unsigned long) cred-&gt;security &lt; PAGE_SIZE)
			return true;
		if ((*(u32)cred-&gt;security &amp; 0xffffff00) ==
		    (POISON_FREE &lt;&lt; 24 | POISON_FREE &lt;&lt; 16 | POISON_FREE &lt;&lt; 8))
			return true;
	}
#endif
	return false;
}
EXPORT_SYMBOL(creds_are_invalid);

*/
 dump invalid credentials
 /*
static void dump_invalid_creds(const struct credcred, const charlabel,
			       const struct task_structtsk)
{
	printk(KERN_ERR &quot;CRED: %s credentials: %p %s%s%s\n&quot;,
	       label, cred,
	       cred == &amp;init_cred ? &quot;[init]&quot; : &quot;&quot;,
	       cred == tsk-&gt;real_cred ? &quot;[real]&quot; : &quot;&quot;,
	       cred == tsk-&gt;cred ? &quot;[eff]&quot; : &quot;&quot;);
	printk(KERN_ERR &quot;CRED: -&gt;magic=%x, put_addr=%p\n&quot;,
	       cred-&gt;magic, cred-&gt;put_addr);
	printk(KERN_ERR &quot;CRED: -&gt;usage=%d, subscr=%d\n&quot;,
	       atomic_read(&amp;cred-&gt;usage),
	       read_cred_subscribers(cred));
	printk(KERN_ERR &quot;CRED: -&gt;*uid = { %d,%d,%d,%d }\n&quot;,
		from_kuid_munged(&amp;init_user_ns, cred-&gt;uid),
		from_kuid_munged(&amp;init_user_ns, cred-&gt;euid),
		from_kuid_munged(&amp;init_user_ns, cred-&gt;suid),
		from_kuid_munged(&amp;init_user_ns, cred-&gt;fsuid));
	printk(KERN_ERR &quot;CRED: -&gt;*gid = { %d,%d,%d,%d }\n&quot;,
		from_kgid_munged(&amp;init_user_ns, cred-&gt;gid),
		from_kgid_munged(&amp;init_user_ns, cred-&gt;egid),
		from_kgid_munged(&amp;init_user_ns, cred-&gt;sgid),
		from_kgid_munged(&amp;init_user_ns, cred-&gt;fsgid));
#ifdef CONFIG_SECURITY
	printk(KERN_ERR &quot;CRED: -&gt;security is %p\n&quot;, cred-&gt;security);
	if ((unsigned long) cred-&gt;security &gt;= PAGE_SIZE &amp;&amp;
	    (((unsigned long) cred-&gt;security &amp; 0xffffff00) !=
	     (POISON_FREE &lt;&lt; 24 | POISON_FREE &lt;&lt; 16 | POISON_FREE &lt;&lt; 8)))
		printk(KERN_ERR &quot;CRED: -&gt;security {%x, %x}\n&quot;,
		       ((u32*)cred-&gt;security)[0],
		       ((u32*)cred-&gt;security)[1]);
#endif
}

*/
 report use of invalid credentials
 /*
void __invalid_creds(const struct credcred, const charfile, unsigned line)
{
	printk(KERN_ERR &quot;CRED: Invalid credentials\n&quot;);
	printk(KERN_ERR &quot;CRED: At %s:%u\n&quot;, file, line);
	dump_invalid_creds(cred, &quot;Specified&quot;, current);
	BUG();
}
EXPORT_SYMBOL(__invalid_creds);

*/
 check the credentials on a process
 /*
void __validate_process_creds(struct task_structtsk,
			      const charfile, unsigned line)
{
	if (tsk-&gt;cred == tsk-&gt;real_cred) {
		if (unlikely(read_cred_subscribers(tsk-&gt;cred) &lt; 2 ||
			     creds_are_invalid(tsk-&gt;cred)))
			goto invalid_creds;
	} else {
		if (unlikely(read_cred_subscribers(tsk-&gt;real_cred) &lt; 1 ||
			     read_cred_subscribers(tsk-&gt;cred) &lt; 1 ||
			     creds_are_invalid(tsk-&gt;real_cred) ||
			     creds_are_invalid(tsk-&gt;cred)))
			goto invalid_creds;
	}
	return;

invalid_creds:
	printk(KERN_ERR &quot;CRED: Invalid process credentials\n&quot;);
	printk(KERN_ERR &quot;CRED: At %s:%u\n&quot;, file, line);

	dump_invalid_creds(tsk-&gt;real_cred, &quot;Real&quot;, tsk);
	if (tsk-&gt;cred != tsk-&gt;real_cred)
		dump_invalid_creds(tsk-&gt;cred, &quot;Effective&quot;, tsk);
	else
		printk(KERN_ERR &quot;CRED: Effective creds == Real creds\n&quot;);
	BUG();
}
EXPORT_SYMBOL(__validate_process_creds);

*/
 check creds for do_exit()
 /*
void validate_creds_for_do_exit(struct task_structtsk)
{
	kdebug(&quot;validate_creds_for_do_exit(%p,%p{%d,%d})&quot;,
	       tsk-&gt;real_cred, tsk-&gt;cred,
	       atomic_read(&amp;tsk-&gt;cred-&gt;usage),
	       read_cred_subscribers(tsk-&gt;cred));

	__validate_process_creds(tsk, __FILE__, __LINE__);
}

#endif */ CONFIG_DEBUG_CREDENTIALS 
*/

          </code>
        </pre>
    </div>
    </body>
</html>
