/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


@font-face {
  font-family: 'Playfair Italic';
  font-weight: 400;
  font-style: italic;
  src: local('Playfair Italic'), url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}


/* Styles
*/

.wrap {
  /*margin: 40px auto;*/
  margin: 0 40px;
  font-family: 'Playfair Italic';
  font-size: 16px;
  line-height: 1.6;
}

.hljs {
    background: #fff;
    color: #333;
    overflow-x: visible;
}

pre, code,
code.hljs,
#text {
  font-weight: normal;
  font-style: italic;
  font-family: 'Playfair Italic' !important;
}

code.hljs span.hljs-selector-tag,
code.hljs span.hljs-selector-tag span.hljs-selector-tag,
code.hljs span.hljs-function {
  font-weight: normal;
}

#text p {
  font-family: 'Playfair Italic';
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

p:empty,
#text span:empty,
.hljs-function:empty,
.hljs-comment:empty,
.hljs-function .hljs-comment:empty {
  display: none !important;
}

p.to-read {
  padding-top: 0;
}

p.comment + .hljs-function + p.to-read,
p.comment + p.to-read {
  padding-top: 30px;
}

p.comment {
  /* from https://www.webmasterworld.com/css/3638930.htm */
  height: 8px;
  line-height: 1;
  font-size: 8px;
}

.hljs-meta,
.hljs-keyword,
.hljs-subst,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-title,
.hljs-params,
.hljs-number,
.hljs-literal {
  color: #333 !important;
  font-weight: normal;
  font-style: normal;
}

p .hljs-comment,
.hljs-comment {
  color: transparent;
  border-bottom: 1px solid #999;
  font-family: 'Courier New', 'Lucida Console', monospace !important;
}

