/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


@font-face {
  font-family: 'Playfair Italic';
  font-weight: 400;
  font-style: italic;
  src: local('Playfair Italic'), url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}


/* Styles
*/

.wrap {
  /*margin: 40px auto;*/
  margin: 0 40px;
  font-family: 'Playfair Italic';
  font-size: 16px;
  line-height: 1.6;
}

.hljs {
    background: #fff;
    color: #333 !important;
}

pre, code,
code.hljs {
  font-weight: normal;
  font-style: italic;
  font-family: 'Playfair Italic' !important;
  font-size: 16px;
  line-height: 1.6;
}

.hljs-meta,
.hljs-keyword,
.hljs-subst,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-title,
.hljs-params,
.hljs-number {
  color: #333 !important;
  font-weight: normal;
  font-style: normal;
}

pre code.hljs span.hljs-comment {
  position: relative;
}

code.hljs span.hljs-comment span.hljs-comment,
pre code span.hljs-comment span.hljs-comment,
pre span.hljs-comment span.hljs-comment,
pre code.hljs span.hljs-comment span.hljs-comment {
  color: transparent;
  border-bottom: 1px solid #333;
  padding: -40px 0;
  margin-top: -20px;
  margin-bottom: -20px;
  line-height: 1px !important;
  font-family: 'Courier New', 'Lucida Console', monospace !important;
  height: 1px;
}

pre code.hljs span.hljs-comment span.hljs-comment::after {
}


/*
pre span.hljs-comment::before {
    display: inline-block;
    content: ' ';
    margin: 10px;
}

pre span.hljs-comment span.hljs-comment::after {
    display: block;
    content: ' ';
}*/
