
body.cover h1 {
  margin-top: 80mm;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}


@page { 
    
  @top-center {
    content: " "; }
}

@page :left {
    @top-left {
        content: " "; }
}

@page :right {
    @top-right { 
        content: " ";}
}
