/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start styles
*/

body {
  font-family: 'Linux Libertine O';
  font-size: 11px;
  line-height: 14px;
  color: #333;
}

h1 {
  font-size: 15px;
  line-height: 19px;
}

p:empty,
span:empty,
p span:not(.cm):empty { display: none; }

p:not(.comment) + p.comment {
  margin-top: 0.5mm;
}

p span:not(.cm) {
  line-height: 4px;
  color: transparent;
  display: inline-block;
  border-bottom: 0.1mm solid #ccc;
  padding-right: 2px; /* compensate removing word-spacing */
}

span:not(.cm) + span.cm {
  margin-left: 2mm;
  
}

p:not(.comment) {
  font-size: 4px;
  line-height: 4px;
  word-spacing: -2px;
}

p span.cm {
  color: #333;
  font-family: 'Linux Libertine O';
  font-style: italic;
  display: inline-block;
  border-bottom: 0;
  margin-bottom: 0;
}

p.add-empty-page {
  display: block;
  color: transparent;
  page-break-after: always;
}

p.add-empty-page:first-child {
  page-break-before: always;
}

@page { 
    size: 148mm 210mm;
    margin: 0;
    box-sizing: border-box;
    counter-increment: page-counter;
    page-break-inside: avoid;
    page-break-after: always;
    overflow: hidden;
    color: #333;
    bleed: 15mm;
    marks: crop;
    
  @top-center {
    content: "— Just a warning, don't kill lockdep —";
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: bottom;
    font-size: 7px;
    letter-spacing: 0.5px;
    line-height: 10px;
    font-style: normal;
    text-align: right; }
}

@page :left {
    padding: 5mm 5mm;
    margin: 10mm 3mm 15mm 33mm;
    @top-left {
        content: counter(page);
        font-family: 'Montserrat';
        font-weight: 500;
        font-style: normal;
        font-size: 7px;
        line-height: 10px;
        vertical-align: bottom;
        text-align: right; }
}

@page :right {
   padding: 5mm 5mm;
   margin: 10mm 33mm 15mm 3mm;

    @bottom-right { }
    @top-right { 
        content: counter(page);
        font-family: 'Montserrat';
        font-weight: 500;
        font-style: normal;
        font-size: 7px;
        line-height: 10px;
        vertical-align: bottom;
        text-align: left; }
    @left-top { }
}

/* testing :blank and :first has hacks to remove page number...
@page:blank {
  @top-left {
    content: "paf";
    color: red !important;}
  @top-right {
    content: "tuf";
    color: aqua !important;}
}


@page:first {
  @top-left {
    content: "pef";
    color: blue !important;}
  @top-right {
    content: "pif";
    color: pink !important;}
}
*/



